:root{
  /* tono violeta desendente  */
--color-10:#240754;
--color-9:#34126F;
--color-8:#421987;
--color-7:#51279B;
--color-6:#653CAD;
--color-5:#724BB7;
--color-4:#8662C7;
--color-3:#A081D9;
--color-2:#CFBCF2;
--color-1:#EAE2F8;
  /*tono neutrales plomos*/
--neutral-10:#;
--neutral-9:#323F4F;
--neutral-8:#3E4C59;
--netral-7:#59606D;
--neutral-6:#616E7C;
--neutral-5:#7B8794;
--neutral-4:#9AA5B1;
--neutral-3:#C8D2D9;
--neutral-2:#EAE7EB;
--neutral-1:#F5F7FA;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.conteinerGeneral {
  background-color: rgba(var(--b3f,250,250,250),1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.SingUpBox, .updateBoX, .postBox{
  background-color: white;
  border-radius: 8px ;
  box-shadow: 0 2px 5px rgb(151 148 148 / 50%);
  width: 350px;
  max-width: 100%;
  overflow: hidden;
}
.SingUpBox>p{
  font-family: 'Poppins', sans-serif;
  padding: 10px 10px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.SingUpBox>h2{
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  padding: 20px;
}
.formLogIn, .formProfile{
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
.loginInGoogle{
  cursor: pointer;
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.loginInCheckIn{
  cursor: pointer;
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-5);
  font-family: 'Poppins', sans-serif;
}
.formLogIn p{
  font-size: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.google{
  height: 30px;
  width: 30px;
}
.form-control, .formProfileControl {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control>input{
  border: 0px solid var(--color-5);
  border-radius: 8px;
  font-size: 14px;
  height: 36px;
  width: 266px;
  padding: 10px;
  outline-color: #EAE2F8;
  background: #EAE2F8;
  font-family: 'Poppins', sans-serif;
}
.formProfileControl>input{
  border-radius: 8px;
  font-size: 14px;
  height: 36px;
  width: 266px;
  padding: 10px;
  outline-color: #EAE2F8;
}
.form-control>i {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px
}
.form-control.error i.fa-times-circle {
  visibility: visible;
  color: #FE6F5E;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control.error small {
  font-size: 15px;
  color: var(--neutral-6);
  visibility: visible;
 font-family: 'Rubik', sans-serif;
}
.button {
  height:36px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #ffff;
  width: 266px;
  font-size: 14px;
  border: solid 1px var(--color-5);
  background-color: var(--color-5);
  transition:background-color .5s;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover{
  background-color: var(--color-7);
}
.imgWelcome{
    height: 120px;
    width: 150px;
}
.formRegister>p,.updateBoX>h2 {
  font-size: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.SingUpBox>h1{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Clicker Script';
  margin-top: 15px;
}
.formRegister{
  padding: 0px 40px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexSection {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.flexBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: white;
  border-radius:10px ;
}
.register{
  background-color: rgba(var(--b3f,250,250,250),1);
}
.recordTitle {
  font-family: 'Clicker Script';
  font-size: 4rem;
  display: flex;
  margin: 12px 0px;
  justify-content: center;
  align-items: center;
}
.SingUpBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.SignUpBox>h1{
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.SignUpBox>p, .SignUpBox>a{
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.formProfileControl>label{
  display: flex;
  justify-content: left;
  font-size: 15px;
}
.SignUpBox>h4{
  color: var(--neutral-9);
  font-size: 30px;
  padding: 30px;
}
.imgRegistration{
  width: 150px;
  height: 100px;
}
.formLogIn>input{
  background-color: var(--color-1);
  border:solid var(--neutal-2);
  color: var(--color-10);
}

@media (min-width:450px){
  .flexBox{
      width: 350px;
  }
}
.messageWelcome>p {
  font-size: 1.6rem;
  padding: 20px 50px;
  text-align: center;
   font-family: 'Poppins', sans-serif; 
}

/*navegador*/

.tab-nav-container{
  height:65px ;
  border-bottom: 0.1px solid #EAE2F8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tab {
  width: 15%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 50px;
  cursor: pointer;
}
.tabTitle{
  width:30% ;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 50px;
  cursor: pointer;
}
.tabTitle >p{
  font-size: 2.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: 'Clicker Script';
}
.fasNav{
  color:#8662C7;
  font-size: 20px;
  transition: color .5s;
}
.fasNav{
  color: #724BB7
}

/* pubicacion */

.imagen{
  height:20px ;
  width:20px ;
}
.containerPost{
  background: #EAE7EB;
  border:solid 0.1px #C8D2D9;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.postForm{
  --T68779821: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
  margin: 10px 0px;
  width: 100%;
  min-width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.postDescription{
  white-space: pre-line;
  font-family: 'Poppins', sans-serif;
  border: solid 0.01px #C8D2D9;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  width:50% ;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  max-width: 90%;
  min-width: 90%;
  height: 100%;
  overflow: hidden;
  resize: none;
}
.btnPost{
  margin-bottom: 10px;
  max-width: 90%;
  min-width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.btnSave{
  font-family: 'Poppins', sans-serif;
  box-shadow: 2px 2px 5px #999;
  background-color:#8662C7;
  transition: background-color .5s;
  border-radius: 8px;
  width:28% ;
  height:25px ;
  color: white;
  font-size: 1rem;
  border: solid 0px ;
}
.btnSave:hover{
 background-color:#724BB7;
}
.perfil{
  border-radius: 100%;
}
.postUser {
  margin-top: 10px;
  max-width: 90%;
  min-width:90% ;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center; 
}
.user{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding: 0px 30px;
  width: 90%;
  display: flex;
}
.boxPerfil{
  display: flex;
  justify-content: center;
  width: 10%;
  height: 40px;
}
#postsContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.divRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btnLike,.btnDelete,.btnEdit {
  display: flex;
  justify-content: center;
  margin:  40% 0%;
  color: #653CAD;
  height:100% ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
i.fas.fa-trash-alt.btnDelete.iconPost {
  display: flex;
  align-items: center;
}
i.fas.fa-pencil-alt.btnEdit.iconPost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconPosts {
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postSection {
  width: 80%;
}
.btnUpdate {
  font-family: 'Poppins', sans-serif;
  box-shadow: 2px 2px 5px #999;
  margin-bottom: 2%;
  background-color: #8662C7;
  border-radius: 8px;
  width: 28%;
  height: 25px;
  color: white;
  font-size: 1rem;
  border: solid 0px;
  transition:   background-color .5s;
}
.btnUpdate:hover{
 background-color: #724BB7;
}
.divBtbUpdate {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.iconPost{
  font-size: 15px;
}
.divbtnLike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .postForm {
    width: 70%;
    border-radius: 8px;
  }
  .tabTitle >p{
    font-size: 3.5rem;
  }
  .fasNav {
    font-size: 24px;
  }
 .iconPost{
    font-size: 18px;
  }
  .btnUpdate,.btnPhoto, .btnSave {
    font-size: 1.2rem;
  }
}
@media (min-width: 800px) {
  .containerPost {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    }
  .tabTitle >p{
    font-size: 4rem;
  }
  .fasNav {
    font-size: 25px;
  }
}
