:root{
    /* tono violeta desendente  */
    --color-10:#240754;
    --color-9:#34126F;
    --color-8:#421987;
    --color-7:#51279B;
    --color-6:#653CAD;
    --Color-5:#724BB7;
    --color-4:#8662C7;
    --color-3:#A081D9;
    --color-2:#CFBCF2;
    --color-1:#EAE2F8;
    /*tono neutrales plomos*/
    --neutral-10:#;
    --neutral-9:#323F4F;
    --neutral-8:#3E4C59;
    --netral-7:#59606D;
    --neutral-6:#616E7C;
    --neutral-5:#7B8794;
    --neutral-4:#9AA5B1;
    --neutral-3:#C8D2D9;
    --neutral-2:#EAE7EB;
    --neutral-1:#F5F7FA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, Verdana, Geneva, Tahoma;
}

/* primera sección*/

.flexSection{
    /* border-radius:10px ; */
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: solid 1px #B1B1B1; */
    padding: 20px;
}

.flexBox{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: white;
    border-radius:10px ;
    border: solid 1px #B1B1B1;
}

.register{
    background:var(--neutral-1);
}

.welcome{
    border: dashed  1px #B1B1B1;
}

.recordTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
}

.boxLogin,.formRegistration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.registrationA {
    height: 40px;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.imgBox{
    width: 100%; 
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.box>p{
    text-align: center;
}

.imgRegistration{
    width: 150px;
    height: 100px;
}

.button{
    border: solid 1px #421987;
    background-color: #724BB7;
    color: white;
    transition:background-color .5s;
    cursor: pointer;
}
.button:hover{
    background-color: #653CAD;
}

.box>input,.formResgister>input,.button{
    border:solid var(--color-1);
    border-radius: 8px;
    height: 36px;
    width:266px;
    margin: 12px;
}

@media (min-width:450px){
    .flexBox{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
} 


.hidden{
    display: none;
}

























































































/*tercera seccion*/

/* .registrationGeneral{
    background:var(--neutral-1);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
   justify-content: center;
} */

/* .registrationSection{
    border-radius:10px ;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 1px #B1B1B1;
    padding: 20px;
} */
/* .boxLogin,.formRegistration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.registrationA {
    height: 40px;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
} */
/* .registrationOption{
    border:solid var(--color-1);
    border-radius: 8px;
    background: var(--color-1);
    height: 36px;
    width:266px;
    margin: 12px;
} */
/* .recordTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
} */
/* .btnStart {
    border: solid 1px #421987;
    background-color: #A081D9;
    color: white;
    transition:background-color .5s;
    cursor: pointer;
}
.btnStart:hover{
    background-color: #653CAD;
}
.btnCheckin:hover{
    background-color: #653CAD;
}
 */

