*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
/* welcome */

.welcome{
    width:100%;
    min-height: 100%;
    margin: 0;
    border: solid;
}

.imgWelcome{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-image: url("img/The\ Movement\ -\ City\ Purple.png") ;
    background-repeat: no-repeat;
    background-size: 90%;
}

/* .btnJoin{
 
} */

.hidden{
    display: none;
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (max-width:376px) and (min-width:360px) {
    .welcome{
        width:100%;
        min-height: 100vh;
    }
}

